#################
# pango project
#################
*.log
*.csv
*.wf
**/temp*
*.last_generated
*.settings
**/cur_project

**/compile
**/constraint_check
**/device_map
**/ipcore/**/rtl
**/ipcore/**/example_design
**/ipcore/**/sim
**/ipcore/**/sim_lib
**/log
**/generate_bitstream/bak
**/generate_bitstream/logbackup
**/generate_bitstream/bgr.db
**/place_route
**/report_timing
**/synthesize
!.sbit
**/logbackup

##################
# vivado
##################
*.log

**/*.cache/
**/sim*/
**/*.hw/
**/*runs/
**/ipshared/
**/*.sim/
**/synth/
**/ui/

**/example_designs/

##################
# other
##################

**/project.old/

/system_project/ethernet_speed_test/

!pango_transplant/pcie_triple_trans/project.old/